<div class="login_frame">
  <div class="login_text_1">
    <br />
    <p>
      <%= t "login.log_in" %>
    </p>
  </div>
  <div class="login_frame_text_left">
    <div class="login_text_2">
      <%= t "login.user_name" %>
    </div>
    <div class="login_text_3">
      <%= t "login.password" %>
    </div>
  </div>
  <div class="login_frame_text_right">
    <input type="text" value="" size="30" class="login_input_text_1" />
    <input type="password" value="" size="30" class="login_input_text_2" />
  </div>
  <div class="login_frame_checkbox">
    <input type="checkbox" name="vehicle1" value="Bike">
    <%= t"login.save_password"%>
  </div>
  <button type="button" class="login_button_login">
    <%= t "login.log_in" %>
  </button>
</div>
